<div class="layout">
  <!-- Common elements like header or sidebar -->
  <header>
    <mat-toolbar style="background-color: bisque;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      {{authService.isLoggedIn() ? 'Logged in' : 'Logged out'}}
    </mat-toolbar>
  </header>

  <mat-drawer-container class="example-sidenav-container" autosize hasBackdrop="true">
    <mat-drawer #drawer class="example-sidenav" mode="over" opened>
      <p>Auto-resizing sidenav</p>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="/article" routerLinkActive="active">Article</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
