.example-sidenav-container {
    flex: 1;
}

.active {
  color: #2aa545 !important;
}

.layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
